.lightbackground{
  background-color: black;
}

.lighth1{

  color: black;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}

.darkh1{

  color: white;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}

.lightimg{
  border: 5px solid black;
  width: 100%;
}

.darkimg{
  border: 5px solid white;
  width: 100%;
}
.divlight{
  text-align: center;
  color: black;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  
}

.divdark{
  text-align: center;
  color: black;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  
}

.mybutton{

  height: 35px;
  width: 60px;
  border-radius: 20px;
  font-family: 'Libre Baskerville', serif;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 85%;
 
}

.darkmodeicon{
  width: 30px;
  margin-left: 80%;
}

p{
  font-family: 'Libre Baskerville', serif;
}